{% extends 'base.html' %}


{% block title %}All Providers{% endblock %}



{% block body %}
<!-- Flag -->
<section id="flag">
</section>

<div id="map"></div>

<div class="container">
  <div class="row">
    <div class="col-5 offset-7">
      <p>Data credit: All data provided by Clusterbusters datasheets<p>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <h1>Providers</h1>




{% for provider in providers %}
    
         
        {% if "user_id" in session %}
          {% if provider in user.favorites %}
        <button type="button" class='bookmark button small' id="{{ provider.physician_id }}" disabled='disabled'>Bookmarked</button>
          {% else %}
        <button type="button" class='bookmark button small' id="{{ provider.physician_id }}">Add to bookmarks</button>
          {% endif %}
        {% else %}
        <button type="button" class='bookmark button small' id="{{ provider.physician_id }}" disabled='disabled'>Add to bookmarks</button>
        {% endif %}
        <a href="/providers/{{ provider.physician_id }}">
          {{ provider.name }}
          </a> <br>
    
{% endfor %}
</div>  
</div>
</div>


<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="/static/directory.js"></script>

{% endblock body %}

