{% extends 'base.html' %}


{% block title %}Cluster Headache Provider Directory Home{% endblock %}

{% block body %}
  <h1>Welcome!</h1>
  

    <form action="/search/state" id="state-search">
      <p>
        Search providers by state <input type="text" name="state">
      </p> 
      <p>
        <input type="submit">
      </p>
    </form><br>


    <form action="/search/name" id="state-search">
      <p>
        Search providers by name <input type="text" name="name">
      </p> 
      <p>
        <input type="submit">
      </p>
    </form>
  
  <a href="/providers">View all providers</a></li>

 

<div class="container">
  <div class="row">
    <div class="col-6">
    <form action="/login" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="login-email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="login-password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-block" type="submit">Sign in</button>
    </form>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
    <form action="/users" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="login-email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="login-password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-block" type="submit">Sign in</button>
    </form>
    </div>
  </div>
</div>




  
{% endblock %}