{% extends 'base.html' %}

{% block title %}{{ provider.name }} - Details{% endblock %}

{% block body %}

<div id="map"></div>

<h1>{{ provider.name }}</h1>

<p>
  {{ provider.location.institution }}<br>
  {{ provider.location.city }}<br>
  {{ provider.location.state }}<br><br>

  {% if "user_id" in session %}
    {% if provider in user.favorites %}
      <button type="button" class='bookmark' id="{{ provider.physician_id }}" disabled='disabled'>Bookmarked</button>
    {% else %}
      <button type="button" class='bookmark' id="{{ provider.physician_id }}">Add to bookmarks</button>
    {% endif %}
  {% else %}
    <button type="button" class='bookmark' id="{{ provider.physician_id }}" disabled='disabled'>Add to bookmarks</button>
  {% endif %}


</p>
<br><br>
<a href="/providers">Back to all providers</a>

<script src="/static/directory.js"></script>

{% endblock %}

