{% extends 'base.html' %}


{% block title %}Cluster Headache Provider Directory Home{% endblock %}

{% block body %}

 <!-- Banner -->
 <section id="banner">
  <h1>Find a doctor</h1>
  <p>who effectively, compassionately treats cluster headache</p>
  You're logged in as {{ session['user_email'] }}

</section>



<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <header>
          <h3>Search by name</h3>
        </header>
        <form action="/search/name" id="state-search">
          <p>
          Search by name<input type="text" name="name">
          </p> 
          <p>
            <input type="submit">
          </p>
        </form>
      </article>
      <article>
        <header>
          <h3>Search by state</h3>
        </header>
        <form action="/search/state" id="state-search">
          <p>
          Search by state <input type="text" name="state">
          </p> 
          <p>
            <input type="submit">
          </p>
        </form>
      </article>
     
      <article>
        <header>
          <h3>View all providers</h3>
        </header>
        <a href="/providers">View the entire directory</a>
      </article>
    </div>
  </div>
</section>

<ul>
  <li><a href="/bookmarks">View your bookmarked providers</a></li>
  <li><a href="/suggestion_form">Suggest a provider for the directory</a></li>
</ul>

<form action="/logout">
  <button type="submit">Log Out</button>
</form>


<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>Ipsum Feugiat</h2>
      <p>Semper suscipit posuere apede</p>
    </header>
    <div class="flex flex-4">
      <div class="box person">
        <div class="image round">
          <img src="images/pic03.jpg" alt="Person 1" />
        </div>
        <h3>Magna</h3>
        <p>Cipdum dolor</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="images/pic04.jpg" alt="Person 2" />
        </div>
        <h3>Ipsum</h3>
        <p>Vestibulum comm</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="images/pic05.jpg" alt="Person 3" />
        </div>
        <h3>Tempus</h3>
        <p>Fusce pellentes</p>
      </div>
      <div class="box person">
        <div class="image round">
          <img src="images/pic06.jpg" alt="Person 4" />
        </div>
        <h3>Dolore</h3>
        <p>Praesent placer</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="flex">
      <a href="https://www.clusterbusters.org"><img src="/static/images/cb-logo.png" class="logo"></a>
    </div>
  </div>
</footer>



 

<script src="/static/resultsdirectory.js"></script>

{% endblock %}