{% extends 'base.html' %}


{% block title %}Cluster Headache Provider Directory Home{% endblock %}

{% block body %}
  <h1>Welcome !</h1>
  You're logged in as {{ session['user_email'] }}.


  <form action="/search/state" id="state-search">
    <p>
      Search providers by state <input type="text" name="state" id="state">
    </p> 
    <p>
      <input type="submit">
    </p>
  </form><br>


  <form action="/search/name" id="name-search">
    <p>
      Search providers by name <input type="text" name="name" id="name">
    </p> 
    <p>
      <input type="submit">
    </p>
  </form>
  <form action="/logout">
    <button type="submit">Log Out</button>
  </form>


  <ul>
    <li><a href="/providers">View all providers</a></li>
    <li><a href="/bookmarks">View your bookmarked providers</a></li>
    <li><a href="/suggestion_form">Suggest a provider for the directory</a></li>
  </ul>


<script src="/static/resultsdirectory.js"></script>

{% endblock %}