{% extends 'base.html' %}


{% block title %}Cluster Headache Provider Directory Home{% endblock %}

{% block body %}

 <!-- Banner -->
 <section id="banner">
  <h1>Find a doctor</h1>
  <p>who effectively, compassionately treats cluster headache</p>
 

</section>



<!-- One -->
<section id="one" class="wrapper">
  <div class="inner">
    <div class="flex flex-3">
      <article>
        <header>
          <h3>Search by name</h3>
        </header>
        <form action="/search/name" id="state-search">
          <p>
          Search by name<input type="text" name="name">
          </p> 
          <p>
            <input type="submit">
          </p>
        </form>
      </article>
      <article>
        <header>
          <h3>Search by state</h3>
        </header>
        <form action="/search/state" id="state-search">
          <p>
            Search by state
          </p>
          <div class="select-wrapper">

          <select name="state" id="category">
            <option value="">- State -</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Alaska">Alaska</option>
            <option value="Alaska">Alaska</option>
            <option value="Alaska">Alaska</option>
            <option value="Alaska">Alaska</option>
            <option value="Alaska">Alaska</option>
          </select>
          </div>



<!-- Connecticut
Delaware
Florida
Georgia
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Missouri
Nebraska
Nevada
New Hampshire
New Jersey
New Mexico
New York
North Carolina
Ohio
Oklahoma
Oregon
Pennsylvania
South Carolina
Tennessee
Texas
Utah
Vermont
Virginia
Washington
Wisconsin
Alberta
British Columbia
Manitoba
Ontario
Quebec
Saskatchewan
            
       
          
          
          <p>
          Search by state <input type="text" name="state">
          </p>  -->
          <p>
            <input type="submit">
          </p>
        </form>
      </article>
     
      <article>
        <header>
          <h3>View all providers</h3>
        </header>
        <a href="/providers">View the entire directory</a>
      </article>
    </div>
  </div>
</section>


<!-- Two -->
<section id="two" class="wrapper style1 special">
  <div class="inner">
    <header>
      <h2>About Cluster Headache</h2>
      <p>also known as Horton's syndrome</p>
    </header>
    <div class="flex flex-4">
      <div class="box person">
        <div class="image round">
          <img src="static/images/pic03.jpg" alt="Person 1" />
        </div>
        <h3>Magna</h3>
        <p>Cipdum dolor</p>
      </div>
      <div class="box person">
        <div class="image">
          <a href="https://www.clusterbusters.org"><img src="/static/images/cb-logo.png" class="logo"></a>
        </div>
        <h3>Clusterbusters</h3>
        <p>Cluster headache research and advocacy</p>
      </div>
      <div class="box person">
        <div class="image">
          <a href="https://ouchuk.org/"><img src="/static/images/ouch-logo.png" alt="OUCH-UK logo"></a>
        </div>
        <h3>OUCH(uk)</h3>
        <p>Organization for Understanding Cluster Headaches</p>
      </div>
      <div class="box person">
        <div class="image">
          <a href="https://headachemigraine.org/"><img src="/static/images/champ-logo.png" alt="champ logo"></a>
        </div>
        <h3>CHAMP</h3>
        <p>Coalition for Headache and Migraine Patients</p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="flex">
      
    </div>
  </div>
</footer>



 

<script src="/static/resultsdirectory.js"></script>

{% endblock %}