{% extends 'base.html' %}

{% block title %}Bookmarks for {{ user.email }}{% endblock %}

{% block body %}

<!-- Flag -->
<section id="flag">
</section>

<div id="map"></div>


<h1>Bookmarks</h1>


{% for favorite in user.favorites %}
  <section
  class="provider"
  data-location-id="{{ favorite.location.location_id }}"
  data-name="{{ favorite.name }}"
  data-institution-name="{{ favorite.location.institution }}"
  data-city="{{ favorite.location.city }}"
  data-state="{{ favorite.location.state }}"
  data-lat="{{ favorite.location.lat }}"
  data-lng="{{ favorite.location.lng }}"
  >
  <a href="/providers/{{ favorite.physician_id }}">
    {{ favorite.name }}
  </a>
      <button type="button" class='bookmark' id="{{ favorite.physician_id }}" disabled='disabled'>Bookmarked</button>
      <button type="button" class='rm-bookmark' id=" {{ favorite.physician_id }}">Remove from bookmarks</button>


  </section>

{% endfor %}

<button type="button" class='clear-bookmarks'>Clear all bookmarks</button>

<br><br>
<a href="/providers">Back to all providers</a><br>
<script
  src="http://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="/static/resultsdirectory.js"></script>

{% endblock %}